<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsistenciaUgelCorongo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".FichaQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeEspecialista"
            android:exported="false" />
        <activity
            android:name=".Horarios_Docentes"
            android:exported="false" />
        <activity
            android:name=".Docentes_Director"
            android:exported="false" />
        <activity
            android:name=".Director"
            android:exported="false" />
        <activity
            android:name=".HomeDocente"
            android:exported="false" />
        <activity
            android:name=".ListUsuario"
            android:exported="false" />
        <activity
            android:name=".Especialistas"
            android:exported="false" />
        <activity
            android:name=".CambioContrasenia"
            android:exported="false" />
        <activity
            android:name=".listmaniana"
            android:exported="false" />
        <activity
            android:name=".tarde"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/splashinicioTema">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>